@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
.avatar-s {
  border-radius: 50%;
  width: 50px; }

.avatar-m {
  border-radius: 50%;
  width: 70px; }

.avatar-l {
  border-radius: 50%;
  width: 90px; }

.avatar-xl {
  border-radius: 50%;
  width: 120px; }

.btn-medium-s {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 0.5% 1.25%;
  font-weight: lighter;
  font-size: 0.8rem;
  opacity: 0.6; }

.btn-medium-s:hover {
  opacity: 1;
  text-decoration: none;
  color: #808080; }

.btn-medium-m {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 0.5% 1.25%;
  font-weight: lighter;
  font-size: 0.9rem;
  opacity: 0.6; }

.btn-medium-m:hover {
  opacity: 1;
  text-decoration: none;
  color: #808080; }

.btn-medium-l {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 0.5% 1.25%;
  font-weight: lighter;
  font-size: 1.1rem;
  opacity: 0.6; }

.btn-medium-l:hover {
  opacity: 1;
  text-decoration: none;
  color: #808080; }

.btn-twitter-s {
  color: white;
  border-radius: 3px;
  padding: 0.5% 1.25%;
  font-weight: bolder;
  font-size: 0.8rem;
  background-color: #D4321D; }

.btn-twitter-s:hover {
  text-decoration: none;
  background-color: #B2321D; }

.btn-twitter-m {
  color: white;
  border-radius: 3px;
  padding: 0.5% 1.25%;
  font-weight: bolder;
  font-size: 0.9rem;
  background-color: #D4321D; }

.btn-twitter-m:hover {
  text-decoration: none;
  background-color: #B2321D; }

.btn-twitter-l {
  color: white;
  border-radius: 3px;
  padding: 0.5% 1.25%;
  font-weight: bolder;
  font-size: 1.1rem;
  background-color: #D4321D; }

.btn-twitter-l:hover {
  text-decoration: none;
  background-color: #B2321D; }

div.wrapper {
  width: 100%;
  background-color: #333;
  line-height: 2rem; }

@media screen and (min-width: 768px) {
  nav.navbar {
    display: flex;
    justify-content: space-between; }
    nav.navbar nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly; }
      nav.navbar nav ul a {
        text-decoration: none;
        color: #fff; }
      nav.navbar nav ul li:hover {
        background-color: #555; }
    nav.navbar nav.start {
      margin-left: 2%; }
    nav.navbar nav.center {
      width: 40%; }
    nav.navbar nav.end {
      margin-right: 2%; } }

@media screen and (max-width: 767px) {
  nav.navbar {
    display: flex;
    flex-flow: column;
    justify-content: space-between; }
    nav.navbar nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly; }
      nav.navbar nav ul a {
        text-decoration: none;
        color: #fff; }
      nav.navbar nav ul li:hover {
        background-color: #555; } }

nav > nav.start {
  order: 1; }

nav > nav.center {
  order: 2; }

nav > nav.end {
  order: 3; }

li:hover {
  text-align: center; }

ul.dd-style-1 {
  position: absolute; }

ul.dd-style-1 > li {
  float: left;
  width: 20%;
  height: 10%;
  cursor: pointer;
  display: none;
  color: rgba(0, 0, 0, 0.7); }

li:hover > ul.dd-style-1 {
  display: flex;
  flex-direction: column;
  perspective: 1000px; }
  li:hover > ul.dd-style-1 li {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    opacity: 0;
    animation-name: menu1;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: translateY(-20%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
  li:hover > ul.dd-style-1 li:hover {
    background-color: #FFBC00; }

ul.dd-style-2 {
  position: absolute; }

ul.dd-style-2 > li {
  float: left;
  width: 20%;
  height: 10%;
  cursor: pointer;
  display: none;
  color: rgba(0, 0, 0, 0.7); }

li:hover > ul.dd-style-2 {
  display: flex;
  flex-direction: column;
  perspective: 1000px; }
  li:hover > ul.dd-style-2 li {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    opacity: 0;
    animation-name: menu2;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }

@keyframes menu2 {
  0% {
    opactiy: 0;
    transform: rotateY(-90deg) translateY(-20%); }
  100% {
    opacity: 1;
    transform: rotateY(0) translateY(0%); } }
  li:hover > ul.dd-style-2 li:hover {
    background-color: #FFBC00; }

ul.dd-style-3 {
  position: absolute; }

ul.dd-style-3 > li {
  float: left;
  width: 20%;
  height: 10%;
  cursor: pointer;
  display: none;
  color: rgba(0, 0, 0, 0.7); }

li:hover > ul.dd-style-3 {
  display: flex;
  flex-direction: column;
  perspective: 1000px; }
  li:hover > ul.dd-style-3 li {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    opacity: 0; }
    li:hover > ul.dd-style-3 li:nth-child(1) {
      animation-name: menu3;
      animation-duration: 300ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-3 li:nth-child(2) {
      animation-name: menu3;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-3 li:nth-child(3) {
      animation-name: menu3;
      animation-duration: 900ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-3 li:nth-child(4) {
      animation-name: menu3;
      animation-duration: 1200ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-3 li:nth-child(5) {
      animation-name: menu3;
      animation-duration: 1500ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-3 li:nth-child(6) {
      animation-name: menu3;
      animation-duration: 1800ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-3 li:nth-child(7) {
      animation-name: menu3;
      animation-duration: 2100ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

@keyframes menu3 {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-20%); }
  80% {
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0%); } }
  li:hover > ul.dd-style-3 li:hover {
    background-color: #FFBC00; }

ul.dd-style-4 {
  position: absolute; }

ul.dd-style-4 > li {
  float: left;
  width: 20%;
  height: 10%;
  cursor: pointer;
  display: none;
  color: rgba(0, 0, 0, 0.7); }

li:hover > ul.dd-style-4 {
  display: flex;
  flex-direction: column;
  perspective: 1000px; }
  li:hover > ul.dd-style-4 li {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5%;
    background-color: rgba(200, 200, 200, 0.7);
    opacity: 0;
    transform-origin: top-right; }
    li:hover > ul.dd-style-4 li:nth-child(1) {
      animation-name: menu4;
      animation-duration: 200ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-4 li:nth-child(2) {
      animation-name: menu4;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-4 li:nth-child(3) {
      animation-name: menu4;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-4 li:nth-child(4) {
      animation-name: menu4;
      animation-duration: 800ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-4 li:nth-child(5) {
      animation-name: menu4;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-4 li:nth-child(6) {
      animation-name: menu4;
      animation-duration: 1200ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }
    li:hover > ul.dd-style-4 li:nth-child(7) {
      animation-name: menu4;
      animation-duration: 1400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

@keyframes menu4 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateX(20%); }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0%); } }
  li:hover > ul.dd-style-4 li:hover {
    background-color: #FFBC00; }

html, * {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: 'Open Sans', 'Helvetica', 'sans-serif'; }

h1, h2, h3 {
  font-family: 'Montserrat', 'sans-serif'; }

.grid-container {
  display: grid; }
