.button-l {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 0.5% 1.25%;
  font-weight: lighter;
  font-size: 0.9rem;
  opacity: 0.6;
  height: 10px;
}

.button-l:hover {
  opacity: 1;
  text-decoration: none;
  color: #808080
}