li:hover {
  text-align: center;
}

@for $i from 1 to 4 {
  ul.dd-style-#{$i} {
    position: absolute;
  }
  ul.dd-style-#{$i} > li {
    float: left;
    width: 20%;
    height: 10%;
    cursor: pointer;
    display: none;
    color: rgba(0,0,0,0.7);
  }
    
  li:hover > ul.dd-style-#{$i} {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    li {
      display: block;
      width: 100%;
      text-align: left;
      padding: 5%;
    
      @if $i == 1 {
        opacity: 0;
        -moz-animation: {
          name: menu#{$i};
          duration: 500ms;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }        
      }
    }
    @if $i == 1 {
      @keyframes menu#{$i} {
        0% {
          opactiy: 0;
          transform: translateY(20%)
          // rotateY(-90); 
          // translateY(-20%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
          // rotateY(0);
          // translateY(0%);
        }
      }
    }
    
    li:hover {
      background-color: rgba(150,150,150,0.7);
    }
  }
}