div.wrapper {
  width: 100%;
  background-color: #333;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  nav.navbar {
    display: flex;
    justify-content: space-between;
    nav {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        a {
          text-decoration: none;
          color: #fff
        }
        li:hover {
          background-color: #555;
        }
      }
    }
    nav.start {
      margin-left: 2%;
    }
    nav.center {
      width: 40%;
    }
    nav.end {
      margin-right: 2%;
    }
  }
}

@media screen and (max-width: 767px) {
  nav.navbar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    nav {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        a {
          text-decoration: none;
          color: #fff
        }
        li:hover {
          background-color: #555;
        }
      }
    }
  }
}

@each $i, $j in (start: 1, center: 2, end: 3) {
  @if $i == start {
    nav > nav.#{$i} {
      order: $j;
    }
  }
  @else if $i == center {
    nav > nav.#{$i} {
      order: $j;
    }
  }
  @else {
    nav > nav.#{$i} {
      order: $j;
    }
  }
}