@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

@import 'avatar.scss';
@import 'button.scss';

html, * {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica', 'sans-serif'
}

h1, h2, h3 {
  font-family: 'Montserrat', 'sans-serif'
}

.grid-container {
    display: grid;

}